# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
thoughts_fe/node_modules/
thoughts_be/node_modules/

# Environment variables
thoughts_fe/.env
thoughts_fe/.env.local
thoughts_fe/.env.*.local
thoughts_be/.env
thoughts_be/.env.local
thoughts_be/.env.*.local


# Build output
thoughts_fe/dist/
thoughts_be/dist/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?